# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/PROJETO META alimentador - Arthur_Joao_Adryan TEC/code_controle_remoto/almoxarifado/code_teste_comunicacao/code_a/*.ini
*.ini
